{% extends "conteneur.html" %}
{% block corps %}
<div class="contact-global">
  <div>
    <h1 class="h1_global">Index général des noms de lieu</h1>
  </div>
    <div id="my-map"></div>
<script>
window.onload = function () {
    var basemap = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> | &copy; 2021 Jean-Damien Genero'
  });

    $.getJSON("../../static/json/bourbon.geojson", function(data) {

    var geojson = L.geoJson(data, {
      onEachFeature: function (feature, layer) {
        // layer.bindPopup(feature.properties.Area_Name);
        layer.bindPopup('<center><p><b>' + feature.properties.PlaceName + '</b></p></center>' + '<p><b> Lieu :</b> ' + feature.properties.Settlement  + '<p><b> Departement :</b> ' + feature.properties.Region + '</p>' + '<p><b> Pays :</b> ' + feature.properties.Country + '</p>' + '<p><b> Latitude :</b> ' + feature.geometry.coordinates[0] + '</p>' + '<p><b> Longitude :</b> ' + feature.geometry.coordinates[1] + '</p>');
        //EDIT HERE
      }
    });

    var map = L.map('my-map')
    .fitBounds(geojson.getBounds());
//    .setView([0.0,-10.0], 2);

    basemap.addTo(map);
    geojson.addTo(map);
  });

};
</script>
</div>

{% endblock %}